body {
	margin:0;
	background-color:black;
}

div.main-navigation {
	height:45px;
	width:1200px;
	border-bottom:3px white solid;
	margin-left:auto;
	margin-right:auto;
}


div.main-navigation table {
	height:100%;
	border-collapse: collapse;
	width:100%;
}

div.main-navigation td {
	vertical-align:center;
	color:white;
	width:25%;
	border-left:3px solid white;
	border-right:3px solid white;
	text-align:center;
	font-size:17pt;
}

div#container {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

div.introduction {
	background-color:#444444;
	width:400px;
	height:613px;
	margin-top:50px;
	margin-left:655px;
	position:absolute;
	text-align:center;
	box-shadow:0 0 40px black;
	text-shadow:3px 3px 7px black;
	color:white;
	border:1px solid white;
	border-collapse: collapse;
	background-color:rgba(0,0,0,0.6);
}

h1, h2 {
	opacity:0;
}

div.introduction table {
	width:100%;
	border-collapse: collapse;
}

div.introduction td {
	border:2px solid white;
	opacity:0;
}

div.introduction td.left {
	width:120px;
	height:50px;
}

div.book-image {
	background-color:#444444;
	width:400px;
	margin-top:50px;
	margin-left:148px;
	position:absolute;
	text-align:center;
	box-shadow:0 0 40px black;
	text-shadow:3px 3px 7px black;
	color:white;
}

div.book-image img {
	width:100%;
	opacity:0;
}

div.img img {
	width:100%;
}

table a:link {
	color:white;
	text-decoration:none;
}

table a:hover {
	text-decoration:underline;
	text-shadow:2px 2px 5px yellow;
}

table a:visited {
	color:white;
}