body {
	margin:0;
	background-color:black;
}

div.main-navigation {
	height:45px;
	width:1200px;
	border-bottom:3px white solid;
	margin-left:auto;
	margin-right:auto;
}


table {
	height:100%;
	border-collapse: collapse;
	width:100%;
}

td {
	vertical-align:center;
	color:white;
	width:25%;
	border-left:3px solid white;
	border-right:3px solid white;
	text-align:center;
	font-size:17pt;
}

div#container{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

div.introduction {
	background-color:#444444;
	width:400px;
	height:400px;
	margin-top:125px;
	margin-left: 20px;
	border-radius:50%;
	position:absolute;
	text-align:center;
	box-shadow:0 0 40px black;
	text-shadow:3px 3px 7px black;
	color:white;
	background-color:rgba(0,0,0,0.6);
}

h1{
	margin-top:75px;
}

p#gender {
	margin-left:10px;
}

button {
	width:150px;
	height:45px;
	font-size:15pt;
	box-shadow:0 0 40px black;
	font-weight:bold;
}

button:hover {
	color:white;
	background-color:black;
}

div.logo {
	position:absolute;
	margin-left:900px;
	margin-top:550px;
}

div.img img {
	width:100%;
}

div.main-navigation table a:link {
	color:white;
	text-decoration:none;
}

div.main-navigation table a:hover {
	text-decoration:underline;
	text-shadow:2px 2px 5px yellow;
}

div.main-navigation table a:visited {
	color:white;
}