body {
	margin:0;
	background-color:black;
	font-family: "Microsoft YaHei";
}

div.main-navigation {
	height:45px;
	width:1200px;
	border-bottom:3px white solid;
	margin-left:auto;
	margin-right:auto;
}


div.main-navigation table {
	height:100%;
	border-collapse: collapse;
	width:100%;
}

div.main-navigation td {
	vertical-align:center;
	color:white;
	width:25%;
	border-left:3px solid white;
	border-right:3px solid white;
	text-align:center;
	font-size:17pt;
}

div#container {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}

div.gallery {
	background-color:#444444;
	width:200px;
	height:600px;
	margin-top:30px;
	margin-left:85px;
	position:absolute;
	box-shadow:0 0 40px black;
	border-radius:20px;
	padding:10px;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
}

div.gallery table {
	margin:auto;
}

div.gallery img{
	width:180px;
	height:120px;
	border:2px white solid;
}

div.gallery img:hover{
	border:2px blue solid;
}

div.gallery p {
	margin:0;
	color:white;
}

div.presentation {
	background-color:#444444;
	width:690px;
	height:540px;
	margin-top:30px;
	margin-left:355px;
	position:absolute;
	box-shadow:0 0 40px black;
	border-radius:20px;
	padding:40px;
	background-color:rgba(0,0,0,0.6);
}

img.showing {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	width:200px;
}

p.show {
	color:white;
}

img.initial {
	width:100%;
}

img.instructions {
	width:80%;
	margin-left:67px;
	margin-top:75px;
}
div.img img {
	width:100%;
}

table a:link {
	color:white;
	text-decoration:none;
}

table a:hover {
	text-decoration:underline;
	text-shadow:2px 2px 5px yellow;
}

table a:visited {
	color:white;
}