body {
	margin:0;
	background-color:black;	
	margin-left:auto;
	margin-right:auto;
	background-image:url("../images/background.jpg");
	background-size:100%;
	background-repeat:y;
	background-attachment:fixed;
}

div.main-navigation {
	height:45px;
	width:1200px;
	border-bottom:3px white solid;
	margin-left:auto;
	margin-right:auto;
}


table {
	height:100%;
	border-collapse: collapse;
	width:100%;
}

td {
	vertical-align:center;
	color:white;
	width:25%;
	border-left:3px solid white;
	border-right:3px solid white;
	text-align:center;
	font-size:17pt;
}

div#container{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	background-color:rgba(0,0,0,0.6);
}

div.main-story {
	padding:100px;
	color:white;
	font-family: 'Libre Franklin', sans-serif;
	font-size:17pt;
	text-shadow:3px 3px 2px black;
}

div.main-story p{
	line-height: 50px;
	margin-bottom: 50px;
}

div.story-nav img {
	height:70px;
}

div.story-nav a:nth-of-type(1) {
	float:right;
}

div.story-nav img {
	margin:2px;
}

div.story-nav img:hover {
	border:2px white solid;
	margin:0px;
}

div.main-navigation table a:link {
	color:white;
	text-decoration:none;
}

div.main-navigation table a:hover {
	text-decoration:underline;
	text-shadow:2px 2px 5px yellow;
}

div.main-navigation table a:visited {
	color:white;
}